body {
  margin: 0;
  padding: 0;
  --myPrimayColor: rgb(0, 132, 255);
}
.GameContainer {
  height: 100vh;
  width: 100vw;
  background-color: var(--myPrimayColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.GameScene {
  border-radius: 5px;
  position: relative;
  height: 500px;
  min-width: 900px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.player {
  flex-grow: 1;
}
.activePlayer {
  background-color: rgba(0, 0, 0, 0.061);
}
.buttons {
  position: absolute;
  z-index: 1;
  width: 150px;
  left: 375px;
  top: 300px;
  text-align: center;
  font-size: 22px;
  color: var(--myPrimayColor);
}
.below {
  top: 370px;
}
.above {
  top: 50px;
}
.playerPoints {
  border-radius: 5px;
  top: 300px;
  text-align: center;
  position: absolute;
  color: white;
  width: 150px;
  height: 110px;
  left: 150px;
  background-color: var(--myPrimayColor);
}
.player {
  border-radius: 5px;
  position: relative;
}
.playerPoints h1 {
  margin: 0;
  font-size: 40px;
}
.GessedNumberArea {
  border-radius: 5px;
  position: absolute;
  left: 100px;
  width: 250px;
  text-align: center;
  top: 50px;
}
.GessedNumberArea h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: var(--myPrimayColor);
}
.GessedNumberArea .number {
  margin-top: 20px;
  font-size: 80px;
}
.image {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  top: 140px;
  width: 80px;
  left: 410px;
  border: 0.1px solid var(--myPrimayColor);
}
.image img {
  width: 100%;
}

.winer {
  background-color: rgb(121, 243, 7);
}
.winer h1,
p {
  color: black;
}
.Buttons:hover {
  border: 1px solid white;
  background-color: var(--myPrimayColor);
  color: white;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image:hover {
  background-color: white;
}
